@import "Main.scss";

.alert {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: $font;
    animation: fadeIn 0.2s ease-out;
    text-align: center;

    h2 {
      margin-bottom: 12px;
      font-size: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        padding: 8px 20px;
        background-color: $main;
        color: white;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #005039;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
