@import "Main.scss";

.alert{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;

  div{
    text-align: center;
    position: fixed;
    width: 300px;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: $font;
    animation: fadeIn 0.2s ease-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h2{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    p{
      font-size: 16px;
      margin-bottom: 25px;
    }

    button{
      padding: 8px 20px;
      background-color: $main;
      color: white;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    button:hover{
      background-color: #005039;
      box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    }
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
